{
"textConfig": {
"details": "working on a bot",
"state": "using discord.js"
},
"imageConfig": {
"smallKey": "brackets",
"largeKey": "nodejs",
"smallText": "node.js",
"largeText": "programming"
},
"clientID": "340755371629215744"
}